<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationURL" value="http://tutorialsninja.com/demo/"/>
		<add key="UserID" value="ag89111@gmail.com"/>
		<add key="Password" value="Login@123"/>
		<add key="Browser" value="CHROME"/>
		<add key="IsSSOEnabled" value="No"/>
	</appSettings>
</configuration>